@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .form-control.choices-single {
        appearance: auto;
    }

    .form-select {
        /*  height: 46px; */
        /*  border-radius: 10px; */
        margin-left: -1px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        font-size: 14px;
    }

    .form-control {
        /* border-radius: 10px !important; */
        margin-left: -1px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .page-wrapper {
        margin-right: 10%;
        margin-left: 8%;
        /*   margin-top: 3%; */
        /*  margin-bottom: -6px */
    }

    span {
        color: red;
    }

    .btn {
        width: 100% !important
    }

    div.scroll {
        margin: 4px, 4px;
        padding: 4px;
        background-color: #08c708;
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
    }

    /* style="border:1px solid black;width:150px;height:100px;overflow-y:hidden;overflow-x:scroll;"
                                        style="border:1px solid black;width:250%;overflow-y:hidden;overflow-x:scroll;"
                                */

</style>

<div class="page-wrapper">
    <div class="page-content">
        <div class="scroll">
            <h3 class="mb-0 text-dark"><b>Traceability</b></h3>
            <hr>
            <form class="row g-3">
                <div class="col" id="Newdiv" style="width:1000%;">
                    <div class="card">
                        <div class="card-body" id="Newdiv">
                            @*  <div class="d-flex align-items-center">
                            <div>
                            <button type="button" id="CreateCard" onclick="CreateCard('', '')" class="btn btn-success-cart" data-id="TraceabilityType">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16" style="margin-left:185px;margin-top: 50%">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
                            </svg>
                            </button>
                            </div>
                            </div> *@
                        </div>
                    </div>
                </div>

                @* <div class="row" id="Newdiv" style="width:1000%;">
                </div> *@
            </form>
        </div>

        <div class="col">
            <!-- Button trigger modal -->
            @* <button type="button" class="btn btn-primary" id="modeltraceability" data-bs-toggle="modal" data-bs-target="#exampleSmallModal">Small Modal</button> *@
            <!-- Modal -->
            <div class="modal fade" id="exampleSmallModal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Select</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <select class="form-control" id="TraceabilityType">
                            </select>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="ok" class="btn btn-primary">Ok</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Fabric / Yarn Model Start-->

        <div class="col">
            <div class="modal fade" id="exampleLargeModal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Fabric / Yarn Management System</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form class="row g-3">
                                <div class="col-xl-9 col-lg-9 col-xxl-9 col-9 col-md-9 col-sm-12">
                                    <h6 class="mb-0 text-dark">Pre Supplier(s) Fabric / Yarn Procurement Detail: <b style="font-size: x-small;">Please enter ALL fabric / yarn !</b></h6>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-xxl-3 col-3 col-md-3 col-sm-12">
                                    <div class="input-group">
                                        <label class="form-label fw-bold" style="margin-top:0px;height: 0px;">Order No:</label>
                                        <input type="text" class="form-control border-start-0" style="margin-left: 4px;border: none;background-color: white;height: 19px;" id="CustomerName" placeholder="" readonly />
                                    </div>
                                </div>
                                <hr />
                                <div class="col-4 col-md-4 col-lg-4 col-xlg-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="lightmode" checked>
                                        <label class="form-check-label">Fabric Detail</label>
                                    </div>
                                </div>
                                <div class="col-4 col-md-4 col-lg-4 col-xlg-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="lightmode" checked>
                                        <label class="form-check-label">Yarn Detail</label>
                                    </div>
                                </div>
                                <div class="col-4 col-md-4 col-lg-4 col-xl-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="lightmode" checked>
                                        <label class="form-check-label">Cotton Detail</label>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-xxl-6 col-6 col-md-6 col-sm-12">
                                    <label class="form-label">Source Date</label>
                                    <div class="input-group">
                                        <input type="datetime-local" class="form-control border-start-1" id="SourceDate" name="birthdaytime">
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-xxl-6 col-6 col-md-6 col-sm-12">
                                    <label class="form-label">Batch / Do#</label>
                                    <div class="input-group">
                                        <span class="input-group-text bg-transparent"><i class='bx bxs-user'></i></span>
                                        <input type="text" class="form-control border-start-0" id="BatchDo" placeholder="" />
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-xxl-6 col-6 col-md-6 col-sm-12">
                                    <label class="form-label">Fabric Supplier</label>
                                    <div class="input-group">
                                        <span class="input-group-text bg-transparent">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list-ul" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2m0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2m0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2" />
                                            </svg>
                                        </span>
                                        <select class="form-select" id="FabricSupplier">
                                        </select>
                                    </div>
                                </div>
                                <div class="col-3 col-md-3 col-lg-3 col-xl-3 col-sm-12">
                                    <div class="form-check" style="margin-top:34px;">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="lightmode1" checked>
                                        <label class="form-check-label">Factory Source</label>
                                    </div>
                                </div>
                                <div class="col-3 col-md-3 col-lg-3 col-xl-3 col-sm-12">
                                    <div class="form-check" style="margin-top:34px;">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="lightmode1" checked>
                                        <label class="form-check-label">Nominated Source</label>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-xxl-6 col-6 col-md-6 col-sm-12">
                                    <label class="form-label">Fabric Code (Supplier)</label>
                                    <div class="input-group">
                                        <span class="input-group-text bg-transparent"><i class='bx bxs-user'></i></span>
                                        <input type="text" class="form-control border-start-0" id="FabricCodeSupplier" placeholder="" />
                                    </div>
                                </div>
                                <div class="col-xl-5 col-lg-5 col-xxl-5 col-5 col-md-5 col-sm-12">
                                    <label class="form-label">Fabric Composition</label>
                                    <div class="input-group">
                                        <span class="input-group-text bg-transparent"><i class='bx bxs-user'></i></span>
                                        <input type="text" class="form-control border-start-0" id="FabricComposition" placeholder="" />
                                    </div>
                                </div>
                                <div class="col-xl-1 col-lg-1 col-xxl-1 col-1 col-md-1 col-sm-12">
                                    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleVerticallycenteredModal" style="margin-top:27px;">...</button>
                                    <!-- Modal -->

                                </div>
                                <div class="col-xl-6 col-lg-6 col-xxl-6 col-6 col-md-6 col-sm-12">
                                    <label class="form-label">Fabric Type</label>
                                    <div class="input-group">
                                        <span class="input-group-text bg-transparent">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list-ul" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2m0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2m0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2" />
                                            </svg>
                                        </span>
                                        <select class="form-select" id="customerType">
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-xxl-6 col-6 col-md-6 col-sm-12">
                                    <label class="form-label">Kind of Fabric</label>
                                    <div class="input-group">
                                        <span class="input-group-text bg-transparent">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list-ul" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2m0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2m0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2" />
                                            </svg>
                                        </span>
                                        <select class="form-select" id="customerType">
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-xxl-4 col-4 col-md-4 col-sm-12">
                                    <label class="form-label">Fabric Weight</label>
                                    <div class="input-group">
                                        <span class="input-group-text bg-transparent"><i class='bx bxs-user'></i></span>
                                        <input type="text" class="form-control border-start-0" id="CustomerName" placeholder="" />
                                    </div>
                                </div>
                                <div class="col-xl-2 col-lg-2 col-xxl-2 col-2 col-md-2 col-sm-12">
                                    <label class="form-label">Weight Type</label>
                                    <div class="input-group">
                                        @*  <span class="input-group-text bg-transparent">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list-ul" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2m0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2m0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2" />
                                        </svg>
                                        </span> *@
                                        <select class="form-select" id="customerType">
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-xxl-6 col-6 col-md-6 col-sm-12">
                                    <label class="form-label">Cotton Initiative</label>
                                    <div class="input-group">
                                        <span class="input-group-text bg-transparent">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list-ul" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2m0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2m0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2" />
                                            </svg>
                                        </span>
                                        <select class="form-select" id="customerType">
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-xxl-4 col-4 col-md-4 col-sm-12">
                                    <label class="form-label">Construction</label>
                                    <div class="input-group">
                                        <span class="input-group-text bg-transparent"><i class='bx bxs-user'></i></span>
                                        <input type="text" class="form-control border-start-0" id="CustomerName" placeholder="" />
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-xxl-4 col-4 col-md-4 col-sm-12">
                                    <label class="form-label">Fabric Width</label>
                                    <div class="input-group">
                                        <span class="input-group-text bg-transparent"><i class='bx bxs-user'></i></span>
                                        <input type="text" class="form-control border-start-0" id="CustomerName" placeholder="" />
                                    </div>
                                </div>
                                <div class="col-xl-2 col-lg-2 col-xxl-2 col-2 col-md-2 col-sm-12">
                                    <label class="form-label">Weight Type</label>
                                    <div class="input-group">
                                        <select class="form-select" id="customerType">
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xl-2 col-lg-2 col-xxl-2 col-2 col-md-2 col-sm-12">
                                    <label class="form-label">Weight Type</label>
                                    <div class="input-group">
                                        <select class="form-select" id="customerType">
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xl-5 col-lg-5 col-xxl-5 col-5 col-md-5 col-sm-12">
                                    <label class="form-label">Quantity</label>
                                    <div class="input-group">
                                        <span class="input-group-text bg-transparent"><i class='bx bxs-user'></i></span>
                                        <input type="text" class="form-control border-start-0" id="CustomerName" placeholder="" />
                                    </div>
                                </div>
                                <div class="col-xl-2 col-lg-2 col-xxl-2 col-2 col-md-2 col-sm-12">
                                    <label class="form-label">Quantity Type</label>
                                    <div class="input-group">
                                        <select class="form-select" id="customerType">
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xl-5 col-lg-5 col-xxl-5 col-5 col-md-5 col-sm-12">
                                    <label class="form-label">Yarn Count</label>
                                    <div class="input-group">
                                        <span class="input-group-text bg-transparent"><i class='bx bxs-user'></i></span>
                                        <input type="text" class="form-control border-start-0" id="CustomerName" placeholder="" />
                                    </div>
                                </div>
                                <div class="col-xl-5 col-lg-5 col-xxl-5 col-5 col-md-5 col-sm-12">
                                    <label class="form-label">Currency</label>
                                    <div class="input-group">
                                        <select class="form-select" id="customerType">
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xl-5 col-lg-5 col-xxl-5 col-5 col-md-5 col-sm-12">
                                    <label class="form-label">Price</label>
                                    <div class="input-group">
                                        <span class="input-group-text bg-transparent"><i class='bx bxs-user'></i></span>
                                        <input type="text" class="form-control border-start-0" id="CustomerName" placeholder="" />
                                    </div>
                                </div>
                                <div class="col-xl-2 col-lg-2 col-xxl-2 col-2 col-md-2 col-sm-12">
                                    <label class="form-label">Price Type</label>
                                    <div class="input-group">
                                        <select class="form-select" id="customerType">
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xl-10 col-lg-10 col-xxl-10 col-10 col-md-10 col-sm-12"></div>
                                <div class="col-xl-2 col-lg-2 col-xxl-2 col-2 col-md-2 col-sm-12">
                                    <button type="button" class="btn btn-dark">Save</button>
                                </div>
                                <div class="modal fade" id="exampleVerticallycenteredModal" tabindex="-1" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Composition Calculator</h5>
                                                <button type="button" class="btn-close" id="CompositionClose" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <div class="table-responsive">
                                                            <table id="example2" class="table table-striped table-bordered">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Description</th>
                                                                        <th>Short Name</th>
                                                                        <th>Percent</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td>Michael Bruce</td>
                                                                        <td>Javascript Developer</td>
                                                                        <td>Singapore</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>

                                                </div>
                                                @*  <div class="modal-footer"> *@
                                                @*  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> *@
                                                <button type="button" class="btn btn-dark">Save changes</button>
                                                @* </div> *@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>

        <!--Fabric / Yarn Model End-->
        <!--Accessories Model start-->

        <div class="col">
            <div class="modal fade" id="AccessoriesLargeModal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Accessories Management System</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form class="row g-3">
                                <div class="col-xl-9 col-lg-9 col-xxl-9 col-9 col-md-9 col-sm-12">
                                    <h6 class="mb-0 text-dark">Pre Supplier(s) & Accessories Procurement Detail: <b style="font-size: x-small;">Please enter ALL Accessories. !</b></h6>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-xxl-3 col-3 col-md-3 col-sm-12">
                                    <div class="input-group">
                                        <label class="form-label fw-bold" style="margin-top:0px;height: 0px;">Order No:</label>
                                        <input type="text" class="form-control border-start-0" style="margin-left: 4px;border: none;background-color: white;height: 19px;" id="CustomerName" placeholder="" readonly />
                                    </div>
                                </div>
                                <hr />
                                <div class="col-xl-6 col-lg-6 col-xxl-6 col-6 col-md-6 col-sm-12">
                                    <label class="form-label">Source Date</label>
                                    <div class="input-group">
                                        <input type="datetime-local" class="form-control border-start-1" id="SourceDate" name="birthdaytime">
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-xxl-6 col-6 col-md-6 col-sm-12">
                                    <label class="form-label">Batch / Do#</label>
                                    <div class="input-group">
                                        <span class="input-group-text bg-transparent"><i class='bx bxs-user'></i></span>
                                        <input type="text" class="form-control border-start-0" id="BatchDo" placeholder="" />
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-xxl-6 col-6 col-md-6 col-sm-12">
                                    <label class="form-label">Supplier</label>
                                    <div class="input-group">
                                        <span class="input-group-text bg-transparent">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list-ul" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2m0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2m0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2" />
                                            </svg>
                                        </span>
                                        <select class="form-select" id="FabricSupplier">
                                        </select>
                                    </div>
                                </div>
                                <div class="col-3 col-md-3 col-lg-3 col-xl-3 col-sm-12">
                                    <div class="form-check" style="margin-top:34px;">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="lightmode1" checked>
                                        <label class="form-check-label">Factory Source</label>
                                    </div>
                                </div>
                                <div class="col-3 col-md-3 col-lg-3 col-xl-3 col-sm-12">
                                    <div class="form-check" style="margin-top:34px;">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="lightmode1" checked>
                                        <label class="form-check-label">Nominated Source</label>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-xxl-6 col-6 col-md-6 col-sm-12">
                                    <label class="form-label">Accessories</label>
                                    <div class="input-group">
                                        <span class="input-group-text bg-transparent">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list-ul" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2m0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2m0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2" />
                                            </svg>
                                        </span>
                                        <select class="form-select" id="FabricSupplier">
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-xxl-6 col-6 col-md-6 col-sm-12">
                                    <label class="form-label">Quality Specification</label>
                                    <div class="input-group">
                                        <span class="input-group-text bg-transparent"><i class='bx bxs-user'></i></span>
                                        <input type="text" class="form-control border-start-0" id="FabricCodeSupplier" placeholder="" />
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-xxl-6 col-6 col-md-6 col-sm-12">
                                    <label class="form-label">Measurement</label>
                                    <div class="input-group">
                                        <span class="input-group-text bg-transparent"><i class='bx bxs-user'></i></span>
                                        <input type="text" class="form-control border-start-0" id="FabricComposition" placeholder="" />
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-xxl-3 col-3 col-md-3 col-sm-12">
                                    <label class="form-label">Quantity</label>
                                    <div class="input-group">
                                        <span class="input-group-text bg-transparent"><i class='bx bxs-user'></i></span>
                                        <input type="text" class="form-control border-start-0" id="FabricComposition" placeholder="" />
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-xxl-3 col-3 col-md-3 col-sm-12">
                                    <label class="form-label">Quantity Type</label>
                                    <div class="input-group">
                                        <span class="input-group-text bg-transparent">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list-ul" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2m0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2m0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2" />
                                            </svg>
                                        </span>
                                        <select class="form-select" id="FabricSupplier">
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-xxl-6 col-6 col-md-6 col-sm-12">
                                    <label class="form-label">Currency</label>
                                    <div class="input-group">
                                        <span class="input-group-text bg-transparent">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list-ul" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2m0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2m0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2" />
                                            </svg>
                                        </span>
                                        <select class="form-select" id="customerType">
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-xxl-6 col-6 col-md-6 col-sm-12">
                                    <label class="form-label">Invoice No</label>
                                    <div class="input-group">
                                        <span class="input-group-text bg-transparent"><i class='bx bxs-user'></i></span>
                                        <input type="text" class="form-control border-start-0" id="CustomerName" placeholder="" />
                                    </div>
                                </div>
                                <div class="col-xl-10 col-lg-10 col-xxl-10 col-10 col-md-10 col-sm-12"></div>
                                <div class="col-xl-2 col-lg-2 col-xxl-2 col-2 col-md-2 col-sm-12">
                                    <button type="button" class="btn btn-dark">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>

        <!--Accessories Model End-->

        <!--Zipper Model Start-->

        <div class="col">
             <div class="modal fade" id="ZipperLargeModal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Zipper Management System</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form class="row g-3">
                                <div class="col-xl-9 col-lg-9 col-xxl-9 col-9 col-md-9 col-sm-12">
                                    <h6 class="mb-0 text-dark">Pre Supplier(s) & Zipper Procurement Detail: <b style="font-size: x-small;">Please enter ALL zippers !</b></h6>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-xxl-3 col-3 col-md-3 col-sm-12">
                                    <div class="input-group">
                                        <label class="form-label fw-bold" style="margin-top:0px;height: 0px;">Order No:</label>
                                        <input type="text" class="form-control border-start-0" style="margin-left: 4px;border: none;background-color: white;height: 19px;" id="CustomerName" placeholder="" readonly />
                                    </div>
                                </div>
                                <hr />
                                <div class="col-xl-6 col-lg-6 col-xxl-6 col-6 col-md-6 col-sm-12">
                                    <label class="form-label">Source Date</label>
                                    <div class="input-group">
                                        <input type="datetime-local" class="form-control border-start-1" id="SourceDate" name="birthdaytime">
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-xxl-6 col-6 col-md-6 col-sm-12">
                                    <label class="form-label">Batch / Do#</label>
                                    <div class="input-group">
                                        <span class="input-group-text bg-transparent"><i class='bx bxs-user'></i></span>
                                        <input type="text" class="form-control border-start-0" id="BatchDo" placeholder="" />
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-xxl-6 col-6 col-md-6 col-sm-12">
                                    <label class="form-label">Zipper Supplier</label>
                                    <div class="input-group">
                                        <span class="input-group-text bg-transparent">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list-ul" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2m0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2m0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2" />
                                            </svg>
                                        </span>
                                        <select class="form-select" id="FabricSupplier">
                                        </select>
                                    </div>
                                </div>
                                <div class="col-3 col-md-3 col-lg-3 col-xl-3 col-sm-12">
                                    <div class="form-check" style="margin-top:34px;">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="lightmode1" checked>
                                        <label class="form-check-label">Factory Source</label>
                                    </div>
                                </div>
                                <div class="col-3 col-md-3 col-lg-3 col-xl-3 col-sm-12">
                                    <div class="form-check" style="margin-top:34px;">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="lightmode1" checked>
                                        <label class="form-check-label">Nominated Source</label>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-xxl-6 col-6 col-md-6 col-sm-12">
                                    <label class="form-label">Accessories</label>
                                    <div class="input-group">
                                        <span class="input-group-text bg-transparent">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list-ul" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2m0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2m0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2" />
                                            </svg>
                                        </span>
                                        <select class="form-select" id="FabricSupplier">
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-xxl-6 col-6 col-md-6 col-sm-12">
                                    <label class="form-label">Material</label>
                                    <div class="input-group">
                                        <span class="input-group-text bg-transparent">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list-ul" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2m0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2m0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2" />
                                            </svg>
                                        </span>
                                        <select class="form-select" id="FabricSupplier">
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-xxl-6 col-6 col-md-6 col-sm-12">
                                    <label class="form-label">Quality Specification</label>
                                    <div class="input-group">
                                        <span class="input-group-text bg-transparent"><i class='bx bxs-user'></i></span>
                                        <input type="text" class="form-control border-start-0" id="FabricComposition" placeholder="" />
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-xxl-6 col-6 col-md-6 col-sm-12">
                                    <label class="form-label">Size</label>
                                    <div class="input-group">
                                        <span class="input-group-text bg-transparent">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list-ul" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2m0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2m0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2" />
                                            </svg>
                                        </span>
                                        <select class="form-select" id="FabricSupplier">
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-xxl-6 col-6 col-md-6 col-sm-12">
                                    <label class="form-label">Length</label>
                                    <div class="input-group">
                                        <span class="input-group-text bg-transparent"><i class='bx bxs-user'></i></span>
                                        <input type="text" class="form-control border-start-0" id="FabricComposition" placeholder="" />
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-xxl-6 col-6 col-md-6 col-sm-12">
                                    <label class="form-label">Length Type</label>
                                    <div class="input-group">
                                        <span class="input-group-text bg-transparent">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list-ul" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2m0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2m0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2" />
                                            </svg>
                                        </span>
                                        <select class="form-select" id="FabricSupplier">
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-xxl-6 col-6 col-md-6 col-sm-12">
                                    <label class="form-label">Invoice No</label>
                                    <div class="input-group">
                                        <span class="input-group-text bg-transparent"><i class='bx bxs-user'></i></span>
                                        <input type="text" class="form-control border-start-0" id="CustomerName" placeholder="" />
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-xxl-3 col-3 col-md-3 col-sm-12">
                                    <label class="form-label">Quantity</label>
                                    <div class="input-group">
                                        <span class="input-group-text bg-transparent"><i class='bx bxs-user'></i></span>
                                        <input type="text" class="form-control border-start-0" id="CustomerName" placeholder="" />
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-xxl-3 col-3 col-md-3 col-sm-12">
                                    <label class="form-label">Quantity Type</label>
                                    <div class="input-group">
                                        <span class="input-group-text bg-transparent">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list-ul" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2m0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2m0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2" />
                                            </svg>
                                        </span>
                                        <select class="form-select" id="customerType">
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-xxl-6 col-6 col-md-6 col-sm-12">
                                    <label class="form-label">Currency</label>
                                    <div class="input-group">
                                        <span class="input-group-text bg-transparent">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list-ul" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2m0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2m0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2" />
                                            </svg>
                                        </span>
                                        <select class="form-select" id="customerType">
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-xxl-6 col-6 col-md-6 col-sm-12">
                                    <label class="form-label">Price</label>
                                    <div class="input-group">
                                        <span class="input-group-text bg-transparent"><i class='bx bxs-user'></i></span>
                                        <input type="text" class="form-control border-start-0" id="CustomerName" placeholder="" />
                                    </div>
                                </div>
                                <div class="col-xl-10 col-lg-10 col-xxl-10 col-10 col-md-10 col-sm-12"></div>
                                <div class="col-xl-2 col-lg-2 col-xxl-2 col-2 col-md-2 col-sm-12">
                                    <button type="button" class="btn btn-dark">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>

        <!--Zipper Model End-->

        <!--Packaging Model Strat-->

        <div class="col">
            <div class="modal fade" id="PackagingLargeModal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Packaging Management System</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form class="row g-3">
                                <div class="col-xl-9 col-lg-9 col-xxl-9 col-9 col-md-9 col-sm-12">
                                    <h6 class="mb-0 text-dark">Pre Supplier(s) & Packaging Procurement Detail: <b style="font-size: x-small;">Please enter ALL Packaging !</b></h6>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-xxl-3 col-3 col-md-3 col-sm-12">
                                    <div class="input-group">
                                        <label class="form-label fw-bold" style="margin-top:0px;height: 0px;">Order No:</label>
                                        <input type="text" class="form-control border-start-0" style="margin-left: 4px;border: none;background-color: white;height: 19px;" id="CustomerName" placeholder="" readonly />
                                    </div>
                                </div>
                                <hr />
                                <div class="col-xl-6 col-lg-6 col-xxl-6 col-6 col-md-6 col-sm-12">
                                    <label class="form-label">Source Date</label>
                                    <div class="input-group">
                                        <input type="datetime-local" class="form-control border-start-1" id="SourceDate" name="birthdaytime">
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-xxl-6 col-6 col-md-6 col-sm-12">
                                    <label class="form-label">Batch / Do#</label>
                                    <div class="input-group">
                                        <span class="input-group-text bg-transparent"><i class='bx bxs-user'></i></span>
                                        <input type="text" class="form-control border-start-0" id="BatchDo" placeholder="" />
                                    </div>
                                </div>
                                <div class="col-xl-10 col-lg-10 col-xxl-10 col-10 col-md-10 col-sm-12"></div>
                                <div class="col-xl-2 col-lg-2 col-xxl-2 col-2 col-md-2 col-sm-12">
                                    <button type="button" class="btn btn-dark">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>

        <!--Packaging Model End-->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleLargeModal">Fabric / Yarn</button><br />
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#AccessoriesLargeModal">Accessories</button><br />
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ZipperLargeModal">Zipper</button><br />
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#PackagingLargeModal">Packaging</button>
    </div>
</div>
@*  </div>
        </div> *@

@*    </div>
</div> *@
<script src="~/cutomjquery/traceability.js"></script>
