@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .form-control.choices-single {
        appearance: auto;
    }

    .form-select {
        /*  height: 46px; */
        /*  border-radius: 10px; */
        margin-left: -1px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        font-size: 14px;
    }

    .form-control {
        /* border-radius: 10px !important; */
        margin-left: -1px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .page-wrapper {
        margin-right: 10%;
        margin-left: 8%;
        /*   margin-top: 3%; */
        /*  margin-bottom: -6px */
    }

    span {
        color: red;
    }

    .btn {
        width: 100% !important
    }
</style>
<div class="page-wrapper" style="" ng-controller="controllerCustomerInfo">
    <div class="page-content">
        <div class="card border-top border-0 border-4 border-dark">
            <div class="card-body p-5">
                <div class="card-title text-center">
                    <h3 class="mb-2 mt-2 text-dark"><b>Company Sign Up</b></h3>
                </div>
                <hr>
                <form class="row g-3">
                    <div class="col-md-6">
                        <label class="form-label">Company Name</label>
                        <div class="input-group">
                            <span class="input-group-text bg-transparent">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-building" viewBox="0 0 16 16">
                                    <path d="M4 2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm3.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zM4 5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zM7.5 5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm2.5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zM4.5 8a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm2.5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm3.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5z" />
                                    <path d="M2 1a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1zm11 0H3v14h3v-2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5V15h3z" />
                                </svg>
                            </span>
                            <input type="text" class="form-control border-start-0" ng-model="" id="" placeholder="" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Country</label>
                        <div class="input-group">
                            <span class="input-group-text bg-transparent">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-globe-asia-australia" viewBox="0 0 16 16">
                                    <path d="m10.495 6.92 1.278-.619a.483.483 0 0 0 .126-.782c-.252-.244-.682-.139-.932.107-.23.226-.513.373-.816.53l-.102.054c-.338.178-.264.626.1.736a.476.476 0 0 0 .346-.027ZM7.741 9.808V9.78a.413.413 0 1 1 .783.183l-.22.443a.602.602 0 0 1-.12.167l-.193.185a.36.36 0 1 1-.5-.516l.112-.108a.453.453 0 0 0 .138-.326ZM5.672 12.5l.482.233A.386.386 0 1 0 6.32 12h-.416a.702.702 0 0 1-.419-.139l-.277-.206a.302.302 0 1 0-.298.52l.761.325Z" />
                                    <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0M1.612 10.867l.756-1.288a1 1 0 0 1 1.545-.225l1.074 1.005a.986.986 0 0 0 1.36-.011l.038-.037a.882.882 0 0 0 .26-.755c-.075-.548.37-1.033.92-1.099.728-.086 1.587-.324 1.728-.957.086-.386-.114-.83-.361-1.2-.207-.312 0-.8.374-.8.123 0 .24-.055.318-.15l.393-.474c.196-.237.491-.368.797-.403.554-.064 1.407-.277 1.583-.973.098-.391-.192-.634-.484-.88-.254-.212-.51-.426-.515-.741a6.998 6.998 0 0 1 3.425 7.692 1.015 1.015 0 0 0-.087-.063l-.316-.204a1 1 0 0 0-.977-.06l-.169.082a1 1 0 0 1-.741.051l-1.021-.329A1 1 0 0 0 11.205 9h-.165a1 1 0 0 0-.945.674l-.172.499a1 1 0 0 1-.404.514l-.802.518a1 1 0 0 0-.458.84v.455a1 1 0 0 0 1 1h.257a1 1 0 0 1 .542.16l.762.49a.998.998 0 0 0 .283.126 7.001 7.001 0 0 1-9.49-3.409Z" />
                                </svg>
                            </span>
                            <input type="text" class="form-control border-start-0" ng-model="" id="" placeholder="" />
                        </div>
                    </div>
                    <div class="col-6">
                        <label class="form-label">First Name</label>
                        <div class="input-group">
                            <span class="input-group-text bg-transparent"><i class='bx bxs-user'></i></span>
                            <input type="text" class="form-control border-start-0" ng-model="" id="" placeholder="" />
                        </div>
                    </div>
                    <div class="col-6">
                        <label class="form-label">Last Name</label>
                        <div class="input-group">
                            <span class="input-group-text bg-transparent"><i class='bx bxs-user'></i></span>
                            <input type="text" class="form-control border-start-0" ng-model="" id="" placeholder="" />
                        </div>
                    </div>
                    <div class="col-6">
                        <label class="form-label">Contact Email</label>
                        <div class="input-group">
                            <span class="input-group-text bg-transparent"><i class='bx bxs-message'></i></span>
                            <input type="text" class="form-control border-start-0" ng-model="" id="" placeholder="" />
                        </div>
                    </div>
                    <div class="col-6">
                        <label class="form-label">Contact Phone</label>
                        <div class="input-group">
                            <span class="input-group-text bg-transparent"><i class='bx bxs-microphone'></i></span>
                            <input type="text" class="form-control border-start-0" ng-model="" id="" placeholder="" />
                        </div>
                    </div>
                    <div class="col-6">
                        <label class="form-label">Website</label>
                        <div class="input-group">
                            <span class="input-group-text bg-transparent">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-browser-edge" viewBox="0 0 16 16">
                                    <path d="M9.482 9.341c-.069.062-.17.153-.17.309 0 .162.107.325.3.456.877.613 2.521.54 2.592.538h.002c.667 0 1.32-.18 1.894-.519A3.838 3.838 0 0 0 16 6.819c.018-1.316-.44-2.218-.666-2.664l-.04-.08C13.963 1.487 11.106 0 8 0A8 8 0 0 0 .473 5.29C1.488 4.048 3.183 3.262 5 3.262c2.83 0 5.01 1.885 5.01 4.797h-.004v.002c0 .338-.168.832-.487 1.244l.006-.006a.594.594 0 0 1-.043.041Z" />
                                    <path d="M.01 7.753a8.137 8.137 0 0 0 .753 3.641 8 8 0 0 0 6.495 4.564 5.21 5.21 0 0 1-.785-.377h-.01l-.12-.075a5.45 5.45 0 0 1-1.56-1.463A5.543 5.543 0 0 1 6.81 5.8l.01-.004.025-.012c.208-.098.62-.292 1.167-.285.129.001.257.012.384.033a4.037 4.037 0 0 0-.993-.698l-.01-.005C6.348 4.282 5.199 4.263 5 4.263c-2.44 0-4.824 1.634-4.99 3.49Zm10.263 7.912c.088-.027.177-.054.265-.084-.102.032-.204.06-.307.086z" />
                                    <path d="M10.228 15.667a5.21 5.21 0 0 0 .303-.086l.082-.025a8.019 8.019 0 0 0 4.162-3.3.25.25 0 0 0-.331-.35c-.215.112-.436.21-.663.294a6.367 6.367 0 0 1-2.243.4c-2.957 0-5.532-2.031-5.532-4.644.002-.135.017-.268.046-.399a4.543 4.543 0 0 0-.46 5.898l.003.005c.315.441.707.821 1.158 1.121h.003l.144.09c.877.55 1.721 1.078 3.328.996Z" />
                                </svg>
                            </span>
                            <input type="text" class="form-control border-start-0" ng-model="" id="Website" placeholder="" />
                        </div>
                    </div>
                    <div class="col-6">
                        <label class="form-label">Preferred Contact Method</label>
                        <div class="input-group">
                            <span class="input-group-text bg-transparent">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-menu-button-wide" viewBox="0 0 16 16">
                                    <path d="M0 1.5A1.5 1.5 0 0 1 1.5 0h13A1.5 1.5 0 0 1 16 1.5v2A1.5 1.5 0 0 1 14.5 5h-13A1.5 1.5 0 0 1 0 3.5zM1.5 1a.5.5 0 0 0-.5.5v2a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 0-.5-.5z" />
                                    <path d="M2 2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5m10.823.323-.396-.396A.25.25 0 0 1 12.604 2h.792a.25.25 0 0 1 .177.427l-.396.396a.25.25 0 0 1-.354 0zM0 8a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm1 3v2a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2zm14-1V8a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v2zM2 8.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0 4a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5" />
                                </svg>
                            </span>
                            <select class="form-select" id="PreferredContactMethod" ng-model="">
                                <option></option>
                                <option value="Email">Email</option>
                                <option value="WhatsApp">WhatsApp</option>
                                <option value="Phone">Phone</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12">
                        <label class="form-label">Address</label>
                        <div class="input-group">
                            <span class="input-group-text bg-transparent"><i class='bx bxs-lock'></i></span>
                            <input type="text" class="form-control border-start-0" ng-model="" id="Address" placeholder="" />
                        </div>
                    </div>
                    <div class="col-12">
                        <label class="form-label">Business Description</label>
                        <textarea class="form-control border-start-1" ng-model="" id="BusinessDescription" placeholder="Enter Address" rows="3"></textarea>
                    </div>
                    <div class="col-9">
                        <a href="#" class="Clearform" ng-click="linkClearform()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-counterclockwise" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2z" />
                                <path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466" />
                            </svg>Clear form
                        </a>
                    </div>
                    <div class="col-3">
                        <button type="submit" class="btn btn-dark px-5" ng-click="">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>