@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .page-wrapper {
        margin-right: 10%;
        margin-left: 8%;
    }

</style>
<div class="page-wrapper" style="">
   @*  ng-controller="CustomerInfocontroller" *@
    <div class="page-content">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-10 col-lg-10 col-xl-10 col-sm-12 col-md-8">
                        <h5 class="mb-0 text-uppercase"><b>Customer</b></h5>
                    </div>
                    <div class="col-2 col-lg-2 col-xl-2 col-sm-12 col-md-4">
                        <a href="@Url.Action("CustomerDetails", "Customerinfo")" class="btn btn-dark" role="button">Add Customer</a>
                    </div>
                </div>
            </div>
        </div>
        @*  <hr /> *@
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="example2" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Customer Name</th>
                                <th>Short Name</th>
                                <th>Parent Group</th>
                                <th>Country</th>
                                <th>Document</th>
                                <th>Update </th>
                            </tr>
                        </thead>
                        <tbody>
                           @*  <tr ng-repeat="c in CustomerList">

                                <td>{{ c.CustomerName }}</td>
                                <td>{{ c.ShortName }}</td>
                                <td>{{ c.ParentGroupName }}</td>
                                <td>{{ c.CountryName }}</td>
                                <td>{{ c.DocumentFile}}</td>
                                <td class="text-center">
                                    {{c.CustomerID}}
                                    <a ng-click="GetCustomerFilter(c.CustomerID)">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                                        </svg>
                                    </a>
                                </td>
                            </tr> *@
                        </tbody>
                       @*  <tfoot>
                            <tr>
                                <th>Customer Name</th>
                                <th>Short Name</th>
                                <th>Parent Group</th>
                                <th>Country</th>
                                <th>Document</th>
                                <th>Update </th>
                            </tr>
                        </tfoot> *@
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@* <script src="~/cutomjquery/customerinfo.js"></script> *@
@* <script src="~/assets/js/bootstrap.bundle.min.js"></script>
<!--plugins-->
<script src="~/assets/js/jquery.min.js"></script>
<script src="~/assets/plugins/simplebar/js/simplebar.min.js"></script>
<script src="~/assets/plugins/metismenu/js/metisMenu.min.js"></script>
<script src="~/assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js"></script>
<script src="~/assets/plugins/datatable/js/jquery.dataTables.min.js"></script>
<script src="~/assets/plugins/datatable/js/dataTables.bootstrap5.min.js"></script> *@
<script>
    $(document).ready(function () {
        $('#example').DataTable();
    });
</script>
<script>
    $(document).ready(function () {
        var table = $('#example2').DataTable({
            lengthChange: false,
            buttons: ['copy', 'excel', 'pdf', 'print']
        });

        table.buttons().container()
            .appendTo('#example2_wrapper .col-md-6:eq(0)');
    });
</script>
<script src="~/cutomjquery/customerinfo.js"></script>
