@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-wrapper" style="" ng-controller="CreateNewformcontroller">
    <div class="page-content">
        <div>
            <div class="row">
                <div class="col-12 col-lg-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-grid">
                                <a href="javascript:;" class="btn btn-primary">+ Add File</a>
                            </div>
                            <h5 class="my-3">My Drive</h5>
                            <div class="fm-menu">
                                <div class="list-group list-group-flush">
                                    <a href="javascript:;" class="list-group-item py-1"><i class='bx bx-folder me-2'></i><span>All Files</span></a>
                                    <a href="javascript:;" class="list-group-item py-1"><i class='bx bx-devices me-2'></i><span>My Devices</span></a>
                                    <a href="javascript:;" class="list-group-item py-1"><i class='bx bx-analyse me-2'></i><span>Recents</span></a>
                                    <a href="javascript:;" class="list-group-item py-1"><i class='bx bx-plug me-2'></i><span>Important</span></a>
                                    <a href="javascript:;" class="list-group-item py-1"><i class='bx bx-trash-alt me-2'></i><span>Deleted Files</span></a>
                                    <a href="javascript:;" class="list-group-item py-1">
                                        <i class='bx bx-file me-2'></i>
                                        <span>Documents</span>
                                    </a>
                                    <a href="javascript:;" class="list-group-item py-1"><i class='bx bx-image me-2'></i><span>Images</span></a>
                                    <a href="javascript:;" class="list-group-item py-1"><i class='bx bx-video me-2'></i><span>Videos</span></a>
                                    <a href="javascript:;" class="list-group-item py-1"><i class='bx bx-music me-2'></i><span>Audio</span></a>
                                    <a href="javascript:;" class="list-group-item py-1"><i class='bx bx-beer me-2'></i><span>Zip Files</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-3">
                    <div class="card">
                        <div class="card-body">
                            <label>Right Side</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>