@{
    ViewBag.Title = "Login page";
    Layout = "~/Views/Shared/_Login.cshtml";
}
<style>
    .form-control.choices-single {
        appearance: auto;
    }

    .form-select {
        height: 46px;
        border-radius: 10px;
        font-size: 14px;
    }

    .form-control {
        border-radius: 10px !important;
    }

    .page-wrapper {
        margin-right: 10%;
        margin-left: 8%;
        margin-top: 10%;
        margin-bottom: -6px
    }

    span {
        color: red;
    }
</style>
<div class="page-wrapper" style="" ng-controller="controllerCompanysignup">
    <div class="page-content">
        <div class="card border-top border-0 border-4 border-dark">
            <div class="card-body p-5">
                <div class="card-title text-center">
                    <h3 class="mb-5 mt-2 text-dark"><b>Company Sign Up</b></h3>
                </div>
                <hr style="margin-top:-15px;" />
                <form class="row g-3">
                    <div class="col-6">
                        <label class="form-label">Company Name<span style="">*</span></label>
                        <div class="input-group input-group-lg">
                            <input type="text" class="form-control border-start-1" ng-model="CompanyName" id="txt_CompanyName" placeholder="" style="" required />
                        </div>
                    </div>
                    <div class="col-6">
                        <label class="form-label">Country<span style="">*</span></label>
                        <div class="input-group input-group-lg">
                            <input type="text" class="form-control border-start-1" ng-model="Country" id="txt_Country" placeholder="" style="" required />
                        </div>
                    </div>
                    <div class="col-6">
                        <label class="form-label">First Name<span style="">*</span></label>
                        <div class="input-group input-group-lg">
                            <input type="text" class="form-control border-start-1" ng-model="FirstName" id="txt_FirstName" placeholder="" style="" required />
                        </div>
                    </div>
                    <div class="col-6">
                        <label class="form-label">Last Name<span style="">*</span></label>
                        <div class="input-group input-group-lg">
                            <input type="text" class="form-control border-start-1" ng-model="LastName" id="txt_lastName" placeholder="" style="" required />
                        </div>
                    </div>
                    <div class="col-6">
                        <label class="form-label">Contact Email<span style="">*</span></label>
                        <div class="input-group input-group-lg">
                            <input type="text" class="form-control border-start-1" ng-model="ContactEmail" id="txt_ContactEmail" placeholder="" style="" required />
                        </div>
                    </div>
                    <div class="col-6">
                        <label class="form-label">Contact Phone<span style="">*</span></label>
                        <div class="input-group input-group-lg">
                            <input type="text" class="form-control border-start-1" ng-model="ContactPhone" id="txt_ContactPhone" placeholder="" style=";" required />
                        </div>
                    </div>
                    <div class="col-6">
                        <label class="form-label">WebSite</label>
                        <div class="input-group input-group-lg">
                            <input type="text" class="form-control border-start-1" ng-model="WebSite" id="txt_WebSite" placeholder="" style="" />
                        </div>
                    </div>
                    <div class="col-6">
                        <label class="form-label">Preferred Contact Method</label>
                        <select class="form-select" id="PreferredContactMethod" ng-model="PreferredContactMethod">
                            <option></option>
                            <option value="Email">Email</option>
                            <option value="WhatsApp">WhatsApp</option>
                            <option value="Phone">Phone</option>
                        </select>
                    </div>
                    <div class="col-12">
                        <label class="form-label">Address</label>
                        <div class="input-group input-group-lg">
                            <input type="text" class="form-control border-start-1" ng-model="Address" id="txt_Address" placeholder="" style="" />
                        </div>
                    </div>
                    <div class="col-12">
                        <label class="form-label">Business Description</label>
                        <div class="input-group input-group-lg">
                            <textarea class="form-control border-start-1" ng-model="BusinessDescription" id="txt_BusinessDescription" placeholder="" style=""></textarea>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="d-grid">
                            <a href="#" class="Clearform" ng-click="linkClearform()"><i class="fas fa-undo"></i>Clear form</a>
                        </div>
                    </div>
                    <div class="col-3">
                    </div>
                    <div class="col-3">
                        <div class="d-grid">
                            <button type="submit" id="Save" ng-click="btnsave()" class="btn btn-dark btn-lg px-5">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@* <script>
    $(document).ready(function () {
        $('.Clearform').click(function () {
            debugger;
            $("#txt_CompanyName").val('');
            $("#txt_Country").val('');
            $("#txt_FirstName").val('');
            $("#txt_lastName").val('');
            $("#txt_ContactEmail").val('');
            $("#txt_ContactPhone").val('');
            $("#txt_WebSite").val('');
            $("#PreferredContactMethod").val('');
            $("#txt_Address").val('');
            $("#txt_Description").val('');
        });
    });
</script> *@


